node_modules
/node_modules

package-lock.json
/package-lock.json

.env
/env

.env.local
/env.local

.env.development.local
/env.development.local

.env.test.local
/env.test.local

.env.production.local
/env.production.local

.env.development
/env.development        
dist/
/dist/  
dist